.modal-container3 {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 100;
    visibility: hidden;
    transition: var(--transition);
}

.show-modal3 {
    background: rgba(0, 0, 0, 0.518);
    visibility: visible;
}

.modal3-section {
    width: 570px;
    padding: 1.3rem 1.5rem;
    padding-bottom: 1.7rem;
    background: white;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    height: auto;
    position: static;
    border-radius: 1rem;
    transform: translateY(5%);
    visibility: hidden;
}

.show-modal3-section {
    visibility: visible;
    transform: translateY(0);
    transition: var(--transition);
}

@media screen and (max-width: 743px) {
    .modal3-section {
        width: 95vw;
    }

    .modal3-section h2 {
        font-size: 1.5rem;
    }
}
